<div class="comment_info" id="comment_info_{{COMMENT_ID}}" data-comment-id="{{COMMENT_ID}}">
    <div class="col-md-8">
        <div class="user-comments" id="video-user-comments">
            {{COMMENT}}
        </div>
        
    </div>
    <div class="col-md-4">
        <div class="videos-list related-videos">
            <div class="video-wrapper side-barlist-wrapper vid_analts_info short" data-litsitem-id="{{ID}}" data-video-id="{{VID_ID}}" title="{{TITLE}}"> 
               <div class="video-thumb pull-left">  
                  <a href="{{URL}}" data-load="?link1=watch&id={{VIDEO_ID_}}">
					<img src="{{THUMBNAIL}}" alt="{{TITLE}}">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#060a1b" d="M10,16.5V7.5L16,12M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"></path></svg>
				  </a>
               </div>
               <div class="video-title">
                  <a href="{{URL}}" data-load="?link1=watch&id={{VIDEO_ID_}}">{{TITLE}}</a>
               </div>
               <div class="clear"></div>
            </div>
        </div>
    </div>

    <div class="clear"></div>
    <hr>
</div>
