<div class="mb_50">
	<h4>{{TITLE}} {{LANG today}}</h4>
	<br>
	<div class="clear"></div>
	<div class="videos-list related-videos">
		<div class="video-wrapper side-barlist-wrapper vid_analts_info" data-litsitem-id="{{ID}}" data-video-id="{{VID_ID}}" title="{{VIDEO_TITLE}}"> 
			<div class="video-thumb pull-left">  
                <a href="{{URL}}" data-load="?link1=watch&id={{VIDEO_ID_}}">
					<img src="{{THUMBNAIL}}" alt="{{VIDEO_TITLE}}">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#060a1b" d="M10,16.5V7.5L16,12M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"></path></svg>
				</a>
			</div>
			<div class="video-title">
                <a href="{{URL}}" data-load="?link1=watch&id={{VIDEO_ID_}}">{{VIDEO_TITLE}}</a>
				<div class="vid_analts_info_smll">{{COUNT}} {{TYPE}}</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<!-- <div>{{LANG views}}</div> -->
	<div class="clear"></div>
	<hr>
</div>