<div class="col-md-4 col-sm-12 paid_movie_list">
	<div class="row video-wrapper" data-id="{{ID}}" data-tr="{{ID}}">
		<div class="movie-thumb col-md-5 no-padding-right">
			<a href="{{URL}}" data-load="?link1=watch&id={{VIDEO_ID_}}">
				<img src="{{THUMBNAIL}}" alt="{{TITLE}}">
			</a>
		</div>
		<div class="col-md-7">
		<div class="movie-title">
			<a href="{{URL}}" data-load="?link1=watch&id={{VIDEO_ID_}}"><h4 title="{{TITLE}}">{{TITLE}}</h4></a>
		</div>
		<div class="movie-info">
			<div>
				<a href="{{USER url}}" data-load="?link1=timeline&id={{USER username}}">{{USER name_v}}</a> <span class="bold">·</span> <span>{{TIME}}</span>
			</div>
		</div>
		<div class="movie-play-btn">
			<a href="{{URL}}" data-load="?link1=watch&id={{VIDEO_ID_}}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#060a1b" d="M10,16.5V7.5L16,12M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"></path></svg></a>
		</div>
		</div>
	</div>
</div>