<div class="wo_about_wrapper_parent">
	<div class="wo_about_wrapper"> 
		<div class="hero hero-overlay" style="background:rgba(33,50,91,.1);"> 
			<div class="container">
				<h1 class="text-center">{{LANG about_us}}</h1>
			</div> 
		</div>
		<g transform="translate(0.000000, -564.000000)" fill="rgba(33,50,91,.001)"><g id="Head-background" transform="translate(-168.000000, -346.000000)"><g id="waves-background" transform="translate(888.000000, 934.000000) scale(-1, 1) translate(-888.000000, -934.000000) translate(168.000000, 910.000000)"><path d="M0,14.60779 C101.722445,4.7613277 195.244576,-4.14113188e-14 429,-2.84217094e-14 C732,-1.97619698e-14 798,45.6756592 1089,45.6756592 C1245.83848,45.6756592 1364.64602,29.5028807 1440,14.5904096 C1440,14.60779 1440,48 1440,48 L0,48 C0,48 0.0410082206,34 0,14.60779 Z" id="Path-3-Copy"></path></g></g></g>
	</div>
</div>
<div class="col-md-2"></div>
<div class="user-setting-panel page-margin termsofuse pt_shadow pt_page_margin col-md-8" style="margin-bottom: 30px;">
	<?php echo htmlspecialchars_decode($pt->terms['about']);?>
</div>
<div class="col-md-2"></div>